<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.dainiak.servlets.FirstServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowHtml</servlet-name>
    <servlet-class>com.dainiak.servlets.ShowHtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHtml</servlet-name>
    <url-pattern>/ShowHtml</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>com.dainiak.servlets.web.CalcServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOperationsServlet</servlet-name>
    <servlet-class>com.dainiak.servlets.web.CheckOperationsServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOperationsServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/400.html</location>
  </error-page>


</web-app>
